/*==============================STYLESHEET==============================*/
/*====================MAIN====================*/
html
{
    margin: 0;
    padding: 0;

    font-size: 16px;
}
body
{
    margin: 0;
    padding: 0;
    
    background-image: url("../img/bg_space.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: 100%;
}
h1, h2, h3, h4, h5, h5, p, sub, span, .label, li
{
    margin: 0;
    padding: 0;

    color: #00FF00;
    font-weight: bold;
}
li
{
    list-style: none;
}
/*====================FONTS====================*/
/*====================TOOLS====================*/
.wrapper
{
    width: 1024px;
    margin: 0 auto;
}
.row-spaced
{
    display: flex;
    justify-content: space-between;
}
.row-center
{
    display: flex;
    justify-content: center;
}
.row-space-around
{
    display: flex;
    justify-content: space-around;
}
.column-center
{
    display: flex;
    align-items: center;
}
.bg-color-content
{
    background-color: rgba(255, 255, 255, 0.3);
    margin: 25px;
}
/*====================CSS-INDEX====================*/
.appdisplay
{
   width: 450px;
    padding: 25px;

    float: left;
}
.appdisplay h3
{
    margin: 25px 0 10px 0;
}
.loginandregisterdisplay
{
    width: 350px;
    padding: 25px;

    float: right;
}
.loginandregisterdisplay h3
{
    font-size: 2.188em;
}
.input
{
    background-color: rgba(255, 255, 255, 0.7);
    border: 0;
    margin-bottom: 5px;
}